html {
    font-family: Arial;
}

body {
    background-color: #f2f2f2;
}

#corpo {
    font-family: Arial;
    background-color: #f2f2f2;
    width: 100%;
}

.titulo {
    color: white;
    float: top;
    text-align: center;
    font-size: 25px;
}
.classeTarefa {
    font-size: 25px;
    background-color: #e3eaa7;
    width: 50.2%;
    margin-left: 25%;
}

.classeTarefa:nth-child(odd) {
    background: #b5e7a0;
}

.classeTexto:nth-child(odd) {
    background: #b5e7a0;
}

.telaEntrada {
    background-color: #008000;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    height: 20%;
    margin-left: 25%;
    margin-top: 5%;
}

.botao {
    width: 70%;
    height: auto;
    position: relative;
    top:30%;
    left:15%;
}

.desli {
    font-size: 30px;
    right: 0px;
    display: inline-block;
    height: auto;
    width: auto;
    float: right;
    padding-bottom: 6px;
    padding-left: 1.0%;
    padding-right: 1.0%;
    opacity: 0;
    color: white !important;
}

.ativ {
    font-size: 30px;
    opacity: 0;
}

.classeTextoAnterior {
    font-size: 25px;
}

.classeTexto {
    font-size: 25px;
    text-decoration: line-through;
}

.classeTarefaDepois {
    background-color: #3CB371 !important;
    font-size: 25px;
    width: 50.2%;
    margin-left: 25%;
    color:  white;
}

.classeTarefa:hover {
    background-color: #006400;
}

.classeTarefa:hover > .desli {
    opacity: 1;
    background-color: #ff6758;
}

.classeTarefa:hover > .ativ {
    opacity: 1;
}

.classeTarefaDepois:hover {
    background-color: #006400 !important;
}

.classeTarefaDepois:hover > .desli {
    opacity: 1;
    background-color: #ff6758;
}

.classeTarefaDepois > .ativ {
    opacity: 1;
}

.classeTexto:hover > .desli {
    opacity: 1;
    background-color: #ff6758;
}
