body {
    background-color: #f2f2f2;
}

h1 {
    color: white;
    text-align: center;
}

.telaEntrada {
    position: relative;
    background-color: #008000;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    height: 30%;
}

.botao {
    width: 70%;
    height: 30%;
    position: absolute;
    top:30%;
    left:15%;
    text-align: center;
}

/*.listaInteira {
padding: 100px 300px;
position: relative;
}*/
